.a1 {
    height: 800px;
   
    padding-top:50px;
  }
  
  .a2 {
    filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.6));
    
    height: auto; 
  }
  
  .a4 {
    height: 5rem;
    
    color: #d4d4d4;
  }
  .a3{
    display: flex;
    justify-content: space-evenly;
  }
  
  .a7 {
    text-align:center;
  
    font-size: 3rem;
    font-family: "Merienda", cursive;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
  }
  
  .a6 {
   
    height: auto;
    width: 37rem;
    font-size: 1.3rem;
    text-align: start;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings: "wdth" 100, "YTLC" 500;
  }
  @media (max-width: 1400px) {
    .a2 {
      height: 40rem;
    }
  }
  
  @media (max-width: 1200px) {
    .a7 {
      font-size: 2.5rem;
    }
  
    .a6 {
      padding: 0 0 0 50px;
      width: 75%;
      font-size: 1rem;
      text-align: start;
    }
  
    .a2 {
      height: 35rem;
    }
  }
  
  @media (max-width: 991px) {
   
  
    .a2 {
      margin: -2rem -2rem -129px -2rem;
      filter: drop-shadow(5px 5px 5px rgba(0, 0, 0, 0.4));
    }
    .a3{
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .a4 {
      height: auto;
      padding: 4rem 0 0 3rem;
    }
  
    .a7 {
      font-size: 2.5rem;
    }
  
    .a6 {
      padding: 0 0 0 32px;
      width: 90%;
      font-size: 1rem;
      text-align: center;
    }
  }
  
  @media (max-width: 768px) {
 
  
    .a2 {
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
      height:27rem;
    }
  
    .a4 {
      height: auto;
      padding: 5rem 0 0 1rem;
    }
  
    .a7 {
      font-size: 2rem;
    }
  
    .a6 {
     
      width: 85%;
      font-size: 1rem;
    }
  }

  
  @media (max-width: 550px) {
    
  
    .a2 {
      filter: drop-shadow(3px 3px 3px rgba(0, 0, 0, 0.3));
    }
  
    .a4 {
      height: auto;
      height:10rem;
    }
  
    .a7 {
      font-size: 1.8rem;
    }
  
    .a6 {
      padding: 0;
      width: 100%;
      font-size: 0.9rem;
    }
  }
  @media (max-width: 320px) {

   .a2{
    height:300px;
   }
  
   
   }
  