.co1 {
  height: 45rem;
  display: flex;
align-items:center;
  justify-content: space-evenly;
  /* row-gap:auto; */
  /* padding-bottom:20px; */
}

.co2 {
  /* margin: 2rem 0 0 2rem; */
  align-self: center;
}

.imgc {
  filter: drop-shadow(10px 10px 10px rgba(0, 0, 0, 0.3));
  mix-blend-mode: multiply;
  height: auto;
}

.co3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 0 2rem 0;
  border-radius: 15px;
  width: auto;
  gap: 18px;  
  background: #155A6E;
  position: relative;
  overflow: hidden;
  padding: 2rem; 
}

.co3:hover::before {
  content: "";
  position: absolute;
  top: -142px;
  left: 101px;
  width: 10rem;
  height: 80rem;
  background: radial-gradient(at center top, #8cb6c2, #155a6e);
  animation: rotates 9s linear infinite; 
}

@keyframes rotates {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.co3::after {
  content: "";
  position: absolute;
  top: 15px;
  inset: 5px;
  background: #568896;
  border-radius: 15px;
}

.co4 {
  /* padding: 25px 0 0; */
  font-family: "Merienda", cursive;
  font-weight: 900;

  z-index: 2;
}

.co5 {
  margin: 0 0 0 1rem;
  text-align: center;
  width: 23rem;
  font-size: 18px;
  z-index: 2;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.co6 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;  
  /* color: white; */
  z-index: 2;
  /* mix-blend-mode: color-burn; */
  background: transparent;
background:#568896;
  /* padding-top: 3rem; */
  width: 100%; 
  box-sizing: border-box; 
}

.co7,
.co8,
.co9,
.co10 {
  width: 100%; 
  max-width: 18rem; 
  height: 2rem;
  border: 1px solid black ;
  border-radius:5px;
  text-align: start;
  font-size: large;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 700;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  resize: none;
  box-sizing: border-box; 
  background:#568896;

}
.co7:focus,
.co8:focus,
.co9:focus,
.co10:focus {
  outline: none; 
  border: 2px solid black; 
  box-shadow: none; 
}


.co10 {
  min-height: 8rem;
  border: 1px solid;
}

.co11 {
  height: auto; 
  width: auto;
  /* padding: 0.5rem 1rem;  */
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: "Nunito Sans", sans-serif;
  font-weight: 800;
  font-variation-settings: "wdth" 100, "YTLC" 500;
  border-radius: 15px;
  font-size: 1.7rem;
  transition:  0.3s ease, transform 0.3s ease;
  background: transparent;
  border: 2px solid black;

}
.co7::placeholder,
.co8::placeholder,
.co9::placeholder,
.co10::placeholder {
  color: #374151; 
}
.co11:hover {
  transform: scale(1.1) translateY(2px);
}

@media (max-width: 1200px) {
  .co1 {
    display: flex;
    align-items: center;
    /* margin: 8rem 0 0; */
    /* gap: 2rem; */
  }

  .co3 {
    /* width: 30rem; */
  }

  .co4,
  .co5 {
    /* margin: 1rem 0; */
    text-align: center;
  }

  .co6 {
    /* padding-top: 2rem;  */
  }

  .co7,
  .co8,
  .co9,
  .co10 {
    max-width: 16rem; 
  }

  .co11 {
    font-size: 1.5rem; 
  }
}

@media (max-width: 991px) {
  .imgc {
    height: 24rem;
  }

  .co1 {
    align-items: center;
    height: auto;
    margin: 4rem 0 0 -4px;
    /* gap: 2rem; */
  }

  .co2 {
    margin: 3rem 0 0 -20px;
  }

  .co3 {
    
    padding: 1rem;
  }

  .co4 {
    margin: 0 0 0 0;
    text-align: center;
    font-size: 1.5rem;
  }

 

  .co7,
  .co8,
  .co9,
  .co10 {
    max-width: 15rem;
  }
  

  .co11 {
    height: 2.5rem;
    width: 7rem;
    font-size: 1.5rem;
    /* margin: -72px 0 0 -149px; */
    /* background:red; */
  }
}

@media (max-width: 800px) {
  .co1 {
    flex-direction: column;
    align-items: center;
    justify-content:center;
    height: auto;
  }

  .co2 {
    margin: 2rem 0 0;
  }

  .co3 {
    width: 55%;
    /* width: auto; */
    margin: 1rem 0;
  }

  .co4,
  .co5 {
    margin: 0 0 0 0;
    text-align: center;
    width: 90%;
  }

  .co6 {
    /* padding-top: 1rem; */
  }

  .co7,
  .co8,
  .co9,
  .co10 {
    max-width: 90%; 
    border: 1px solid black;
  }

  .co11 {
    font-size: 1.3rem;
    border: 1px solid black;

  }
}

@media (max-width: 550px) {

  .co3 {
    height: auto;
    width:75%;

  }
  .co11{
    color:#e2e8f0;
  }

  .co4{
    /* margin: 0.5rem 0; */
    color:#fafafa;
    font-size:30px;
  }
  .co5 {
    /* margin: 0.5rem 0; */
    color:#f5f5f5;
    width:90%;
  }

  

  .co7,
  .co8,
  .co9,
  .co10 {
    max-width: 100%; 
    color: #e5e5e5;
  }
  .co7::placeholder,
.co8::placeholder,
.co9::placeholder,
.co10::placeholder {
  color: #d4d4d4; 
}

}

@media (max-width: 375px) {
  .co3 {
    width:80%;
  }

  .co4{
    
    font-size:20px;
  }
  .co5 {
    font-size:15px;

  }

  .co11 {
    font-size: 1rem; 
  }

  .co7,
  .co8,
  .co9,
  .co10 {
    max-width: 100%; 
    /* color: #e5e5e5 !important; */
  }
 
}
