.co1{
    margin: 12rem 0 0 0;
    height:43rem;
    /* background:white; */
    display:flex;
    gap:0 6rem;
    
}

.co2{
    margin:3rem 0 0 6.5rem;
}
.imgc{
    filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
    mix-blend-mode: multiply;
}


.co3 {
    margin: 1rem 0 0 2rem;
    height: 38rem;
    /* border: solid 2px;   */
    width: 35rem;
    border-radius: 15px;
    position: relative;
    overflow:hidden;
    background:#155A6E;
 }
  
  .co3:hover::before {
    content: "";
    position: absolute;
    top: -142px;
    left: 101px;
    width: 10rem;
    height: 80rem;
    background: radial-gradient(at center top, #8cb6c2, #155a6e);
    animation: rotate 9s linear infinite;
    /* z-index: -1;  */
  }
  
  
  .co3::after {
    content: "";
    position: absolute;
    top: 15px;
    inset: 5px;
    background: #568896;
    border-radius: 15px;
  }
  
  
  
.co4{
    margin: 2rem 0 0 12.5rem;
    position:absolute;
    z-index:3;
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
  filter:drop-shadow(5px 5px 5px rgba(0,0,0,0.6));

}
.co5{
    margin: 7rem 0 0 4.3rem;
    position:absolute;
    z-index:3;
   width:28rem;
   
   font-family: "Nunito Sans", sans-serif;
   font-optical-sizing: auto;
   font-weight: 700;
   font-style: normal;
   font-variation-settings:
     "wdth" 100,
     "YTLC" 500;
}
.co6{
   top:180px;
   left:135px;
   height:20rem;
    gap:500px 0;
    margin:2rem 0 0 0;  
    color:white;
    position:absolute;
   
}

.co7{
    width:18rem;
    height:2rem;
    border-radius: 5px;
    mix-blend-mode: color-burn;
    text-align: start; 
    position:absolute;
    z-index:3; 
    font-size: large;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
    
}

.co8{
    margin: 3rem 0 0 0;
    width:18rem;
    height:2rem;
    mix-blend-mode: color-burn;
    border-radius: 5px;
    position:absolute;
    z-index:3;
    font-size: large;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;

}
.co9{
    margin: 6rem 0 0 0;
    width:18rem;
    height:2rem;
    mix-blend-mode: color-burn;
    border-radius: 5px; 
    position:absolute;
    z-index:3;   
    font-size: large;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;


}
.co10{
    margin: 9rem 0 0 0;
    width:18rem;
    height:8rem;
    mix-blend-mode: color-burn;
    border-radius: 5px;  
    resize: none;  
    position:absolute;
    z-index:3;
    border-width: 2px;
    font-size: large;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;
  }
.co11{
    position:absolute;
    z-index:3;
    height:3rem;
    width:9rem;
   
    display:flex;
    justify-content:center;
    align-items:center;
    gap:0px 12px;
    mix-blend-mode: screen;
    font-family: "Nunito Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
      "wdth" 100,
      "YTLC" 500;


    border-radius: 15px;
    font-size:27px;
    top:85%;
    left:37%;
    transition: 0.4s ease;
  /* box-shadow: 0 0 5px #8CAEB7, 0 0 25px #8CAEB7; */
}
.co11:hover{
    background:#155A6E;
    color:white;
    box-shadow: 0 0 5px teal, 0 0 25px teal, 0 0 50px teal;
    cursor:pointer;
    height:3.2rem;
    width:9.5rem;
    overflow:hidden;
  }