/* Experience.css */
.eo1 {
    display: grid;
    align-items: center;
    height: auto;
    justify-content: center;
  }
  
  .experheading {
    font-size: 2.8rem;
    font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  /* color:#2d3748; */
  font-weight: 900;
  font-style: normal;
  }
  
  .eo2 {
    width: 80rem;
    height: auto;
    margin: 25px 0px 0px 90px;
    display: grid;
    grid-template-columns: 2fr 2fr;
    padding: 8px;
    gap: 40px 50px;
    
  }
  
  .w {
    height: 128px;
    width:615px;
    border-radius: 20px;
    filter:drop-shadow(5px 5px 5px rgba(0,0,0,0.6));
    position: relative; 
    overflow:hidden;
    background: #155A6E;

  
  }
  
  .w::before {
    content: "";
    position: absolute;
    top: 16px;
    right: -236px;
    width: 71rem;
    height: 6rem;
   
background: #155A6E;;
background: radial-gradient(at center top, #8CB6C2, #155A6E);
    animation: rotate 9s linear infinite;
    
  }
  
  .w::after {
    content: "";
    position: absolute;
    
    inset: 5px;
    background: #568896;
    border-radius: 16px;
  }
  
  @keyframes rotate {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  
 .w:hover{
    height: 132px;
    width:620px;
 }