.ho1 {
  margin: 130px 125px;
  padding: 50px;
  display: flex;
  /* flex-direction: column; */
  align-items: center;
  justify-content: space-evenly;

}

.ho2 {
  margin-top: -40px;
}

.ho4, .ho5 {
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-variation-settings: "wdth" 100, "YTLC" 500;
}

.ho3 {
  font-size: 2.3rem;
  font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-weight:600;
  font-style: normal;
}

.ho4 {
  font-size: 1.8rem;
  font-weight: 700;
  row-gap: 1rem;
}

.ho5 {
  width: 70%;
  font-size: 1.1rem;
  font-weight: 700;
}

.toggle {
  height: 3rem;
  width: 9rem;
  font-size: 22px;
  border-radius: 15px;
  border: solid 3px;
  background: #90b0b9;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  transition: 0.4s ease;
  box-shadow: 0 0 5px #8caeb7, 0 0 25px #8caeb7;
}

.toggle:hover {
  background: #155a6e;
  color: white;
  cursor: pointer;
}

.size-6 {
  height: 1.8rem;
  position: absolute;
  left: 18.2rem;
}

.ho6 {
  margin: -80px -40px 0 100px;
}

.ho7 {
  background-position: center center;
  height: 25rem;
  width: 25rem;
  object-fit: cover;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
  animation: animate 8s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}

.menu li {
  position: absolute;
  left: 130px;
  list-style: none;
  transition: 0.5s;
  transform: rotate(calc(-180deg/5 * var(--i)));
  transform-origin: 120px;
  scale: 0;
  transition-delay: calc(0.5s * var(--i));
}

.menu.active li {
  scale: 1;
}

.menu li a {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 3rem;
  width: 3rem;
  font-size: 2.2rem;
  color: var(--clo);
  transition: 0.5s;
}

.menu li:hover a {
  font-size: 3rem;
}

@media (max-width: 992px) {
  .ho1 {
    margin: 100px 30px;

    padding: 24px;
    /* flex-direction: column; */
    width: 90%;
  }

  .ho3 {
    font-size: 1.5rem;
  }
  .ho2 {
    padding: 0 -50px 0 0;
    width:50%;  
  }
  .ho4 {
    font-size: 1.3rem;
  }

  .ho5 {
    width:85%;
    font-size: 0.8rem;
  }

  .toggle {
    width: 7rem;
    height: 2.5rem;
    font-size: 20px;
    justify-content: space-evenly;

  }

  .size-6 {
    left: 9.5rem;
    height: 1.5rem;

  }

  .ho6 {
    margin: -50px -8px 0 61px;
    }

  .ho7 {
    height: 20rem;
    width: 20rem;
  }
}

@media (max-width: 600px) {
  .ho1 {
    margin: 50px 20px;
    padding: 20px;
  }

  .ho3 {
    font-size: 1.5rem;
  }

  .ho4 {
    font-size: 1.2rem;
  }

  .ho5 {
    font-size: 0.9rem;
  }

  .toggle {
    width: 6rem;
    height: 2rem;
    font-size: 18px;
  }

  .size-6 {
    left: 10rem;
  }

  .ho6 {
    margin: -30px -10px 0 30px;
  }

  .ho7 {
    height: 15rem;
    width: 15rem;
  }
}
