.ho1 {
  margin: 65px auto;
  padding: 90px;
  display: flex;
  justify-content: space-evenly;
}
.ho2 {
  margin-top: 50px;
  margin-left:50px;
}

.ho4, .ho5 {
  font-optical-sizing: auto;
  font-style: normal;
  font-family: "Nunito Sans", sans-serif;
  font-variation-settings: "wdth" 100, "YTLC" 800;
}

.ho3 {
  font-size: 2.5rem;
  font-family: "Playwrite AU TAS", cursive;
  font-optical-sizing: auto;
  font-weight: 900;
  font-style: normal;
}

.ho4 {
  font-size: 2rem;
  font-weight: 700;
  margin-top: 1rem;
}

.ho5 {
  width: 60%;
  font-size: 1.3rem;
  font-weight: 700;
  text-align: start; 
}
.btn {
  width: 8rem;
  height: 2.8rem;
  font-size: 20px;
  margin:25px 0 25px 0;
  display:flex;
  justify-content:space-evenly;
  align-items:center;
  border-radius: 35px;
  mix-blend-mode: multiply;
  transition: transform 0.3s ease; 


}
.btn:hover {
  transform: scale(1.1); /* Increase the scale by 10% on hover */
} 



.size-6 {
  height: 1.8rem;
}

.ho6 {
  margin-top: 20px;
  margin-right:70px;
}

.ho7 {
  background-position: center;
  height: 29rem;
  width: 29rem;
  object-fit: cover;
  box-shadow: 0 5px 5px 5px rgba(13, 110, 253, 0.2);
  animation: animate 8s ease-in-out infinite;
  transition: all 1s ease-in-out;
}

@keyframes animate {
  0%, 100% {
    border-radius: 60% 40% 30% 70% / 60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40% / 50% 60% 30% 60%;
  }
}



@media (max-width: 1400px) {
  .ho1 {
    margin: 20px 19px; 
    padding: 15px; /* Adjusted padding */
    display: flex;
    justify-content: center; /* Center items */
  }

  .ho3 {
    font-size: 2rem;
  }

  .ho4 {
    font-size: 1.6rem;

  }

  .ho5 {
    width: 75%;
    font-size: 1rem;

  }

  .btn {
    width: 8rem;
    height: 2.8rem;
    font-size: 20px;
    margin:25px 0 25px 0;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
    border-radius: 35px;

  }

  .size-6 {
    height: 1.7rem;
  }

  .ho6 {
    margin-top: 10px;
  }

  .ho7 {
    height: 22rem;
    width: 22rem;
  }
}

@media (max-width: 991px) {
  .ho1 {
    margin: 20px 19px; /* Adjusted margin */
    padding: 15px; /* Adjusted padding */
    display: flex;
    justify-content: center; /* Center items */
  }

  .ho2{
    margin: 60px 0 0 0;
  }

  .ho3 {
    font-size: 1.5rem;
  }

  .ho4 {
    font-size: 1.5rem;
  }

  .ho5 {
    width: 75%;
    font-size: 0.95rem;
    
  }

  .btn {
    width: 7rem;
    height: 2.5rem;
    font-size: 18px;
    margin:25px 0 25px 0;
    display:flex;
    justify-content:space-evenly;
    align-items:center;
  }

  .size-6 {
    height: 1.5rem;
  }

  .ho6 {
     margin: 60px 0 0 0;

  }

  .ho7 {
    height: 20rem;
    width: 20rem;
  }
}

@media (max-width: 768px) {
  .ho1 {
   display:flex;
   flex-direction:column;
   justify-content:center;
   align-items:center;
 

  }
  .ho2{
    display:flex;
    flex-direction:column;
    justify-content:center;
   align-items:center;
   margin: 0px;
  }

  .ho3 {
    font-size: 1.6rem;
    margin:5px 0 5px 0;


  }

  .ho4 {
    font-size: 1.4rem;
    margin:5px 0 5px 0;

  }

  .ho5 {
    width: 70%;
    font-size: 0.9rem;
    text-align: center; 
    margin:5px 0 5px 0;


  }

  .btn {
    width: 6.5rem;
    height: 2.2rem;
    font-size: 16px;
    margin:25px 0 25px 0;
    display:flex;
    justify-content:space-evenly;
    align-items:center;

  }

  .size-6 {
    height: 1.3rem;
  }

  .ho6 {
    margin-top: 10px;
  }

  .ho7 {
    height: 18rem;
    width: 18rem;
  }
}

@media (max-width: 550px) {
  .ho2 {
    margin: 0px;

  }

  .ho3 {
    font-size: 1.4rem;
    margin:5px 0 5px 0;

  }

  .ho4 {
    font-size: 1.3rem;
    margin:5px 0 5px 0;

  }

  .ho5 {
    width: 90%;
    font-size: 0.85rem;
    margin:5px 0 5px 0;

  }

  .btn {
    width: 6rem;
    height: 2rem;
    font-size: 14px;
  }

  .size-6 {
    height: 1.2rem;
  }

  .ho6 {
    margin-top: 5px;
  }

  .ho7 {
    height: 16rem;
    width: 16rem;
  }
}

@media (max-width: 375px) {
  .ho1 {
  }

  .ho3 {
    font-size: 1.2rem;
  }

  .ho4 {
    font-size: 1.2rem;
  }

  .ho5 {
    width: 95%;
    font-size: 0.8rem;
  }

  .toggle {
    width: 5.5rem;
    height: 1.8rem;
    font-size: 12px;
  }

  .size-6 {
    height: 1rem;
  }

  .ho6 {
    margin-top: 0;
  }

  .ho7 {
    height: 14rem;
    width: 14rem;
  }
}
@media (max-width: 1400px){
  .ho1{
    padding-top:60px;
  }
}