body, html {
  margin: 0;
  padding: 10px;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

.n1 {
  display: flex;
  height: 60px; /* Adjusted for better visibility */
  justify-content: space-between;
  align-items: center;
  column-gap: 30px;
  padding-right: 10%;
  z-index: 100;
  position: sticky;
  top: 10px; /* Changed to top: 0 to make the navbar sticky at the top */

  transition: backdrop-filter 0.3s ease, background-color 0.3s ease;
}

.n1.blur {
  backdrop-filter: blur(10px);
  
}

.n2 {
  padding-left: 70px;
  
}

.n3 {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  column-gap: 30px;
  font-size: 20px;
 
  font-weight: bold;
}

.n3 li {
  cursor: pointer;
}
