.central {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
  margin: 150px auto;
  
  max-width: 1400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.heads {
  font-size: 2.5rem;
  /* font-weight: bold; */
  text-align: center;
  font-family: "Merienda", cursive;
  font-weight: 900;
  margin-bottom: 30px;
  color: black;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.splide {
  width: 100%;
}
.project {
  position: relative;
  height: 600px;
  background: #155a6e;
  margin-bottom: 30px;
  margin-right: 20px;
  border-radius: 20px;
  text-align: center;
  overflow: hidden; 
  filter: drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}

.project::before {
  content: "";
  position: absolute;
  top: -82px;
  width: 5rem;
  height: 60rem;
  background: radial-gradient(at center top, #8cb6c2, #155a6e);
  animation: rotates 9s linear infinite;
}

@keyframes rotates {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.project-inner {
  position: relative;
  height: 100%;
  width: 100%;
  transition: transform 0.6s ease-in-out;
  transform-style: preserve-3d;
  object-fit: cover;

}

.project-inner:hover {
  transform: rotateY(180deg);
}


.front-face,
.back-face {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 20px; 
  backface-visibility: hidden;
 
}
.front-face {
  z-index: 2;
  object-fit: cover;
  border-radius: 20px;
  position: absolute;
  top: -2px;
}

.back-face {
  transform: rotateY(180deg);
  background: #155a6e;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-sizing: border-box;
  border-radius: 20px;
}

.project-image {
  height: 100%;
  width: 100%;
  border-radius: 20px;
  margin: 2px 0 0 0;
  object-fit: cover;
}
.hide {
  position: absolute;
  height: 99%;
  width: 98%;
  background: #155a6e;
  border-radius: 18px;
  top: 4px;
  left: 4px;
}



button {
  padding: 12px 25px;
  margin-top: 30px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 1rem;
  transition: background-color 0.3s ease, transform 0.3s ease;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

button:hover {
  background-color: #0056b3;
  transform: translateY(-2px);
}

@media (max-width: 991px) {
  .project {
    height: 500px;
  }

  

  button {
    padding: 10px 20px;
    font-size: 0.9rem;
  }
}

@media (max-width: 800px) {
  .central {
    width: 85%;
  }

  .project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 450px;
    width: 100%;
    margin: 0 15px 25px auto; 
  
  }

  .heads {
    font-size: 1.8rem;
  }
}
@media (max-width: 700px) {
  .central {
    width: 90%;
  }

  .project {
    height: 450px;
    width: 70%;
    margin: 0 auto 25px auto; 
    display: flex;
    justify-content: center;
    align-items: center;
  }
}
@media (max-width: 500px) {

 .project{
  height:350px;
 }

}
@media (max-width: 400px) {

  .project{
   height:300px;
  }
 
 }
 @media (max-width: 320px) {

  .project{
   height:300px;
  }
 
 }

