.p1 {
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: repeat(3, 1fr);
  gap: 50px;
  padding: 100px;

}

.p {
  height: 500px;
  width: 400px;
  /* background-color: rgb(216, 237, 212); */
  border-radius: 10px;
  border: 2px solid black;
  /* position: relative; */
  text-align: center;
  transition: transform 2s;
  transform-style: preserve-3d;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.p:hover {
  transform: rotateY(180deg);
}

.front-face {
  position: relative ; 
  top: 0;
  left: 0;
  backface-visibility: hidden;
}
.back-face {
  /* background-color: #2980b9; */
  color: white;
  transform: rotateY(180deg);
  backface-visibility: hidden;
  color: black;

}