.so1 {
  padding: 100px 0 0 0;
  max-width: 100%;
  margin: 0 auto;
  text-align: center;
  overflow: hidden;
  display: flex;
  flex-direction:column;
align-items:center;
  justify-content: center; 
}

.skillheading {
  font-size: 3rem;
  font-family: "Merienda", cursive;
  font-weight: 800;
  padding: 0;
  text-align: center;
}

.so2 {
 
  gap: 20px; 
  margin: 0 auto;
 width: 910px; 
  columns:3;

}

.so3 {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  row-gap: 20px;
  column-gap:0;
  place-items: center;
  margin: 0 20px;
}

.parent {
  background-color: #C7F6FF;
  /* width: auto; */
  border-radius: 15px;
  padding: 20px;
  place-items: center;
  width:250px;
  float:left;
margin-top:10px;
break-inside:avoid;

}
.skillname{
  font-size:1.5rem;
  font-weight: 300;

}


.icon {
  font-size: 3rem;
  box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);

 
  padding:10px;
}

.icon:hover {
  cursor: pointer;
  transform: translateY(2px);
}

@media (max-width: 550px) {
  .so2 {
    columns:1;  
  width:300px;
  }

  .icon {
    font-size: 2rem;
  }

  .skillheading {
    font-size: 1.8rem;
  }

  .parent {
    width: 250px;
  }
}

@media (max-width: 375px) {
  .parent {
    width: 200px;
  }
  .so2{
    width:250px;
  }
}

@media (min-width: 551px) and (max-width: 768px) {
  .so2 {
    columns:1;
    width:300px;
    gap: 5px 20px;
  }

  .icon {
    font-size: 2rem;
  }

  .skillheading {
    font-size: 2rem;
  }

  .parent {
    width: 250px;
  }
}

@media (min-width: 769px) and (max-width: 991px) {
  .so1 {
    padding: 4rem 0 0 0;
  }

  .so2 {
   columns:2;
   width:600px;
    gap: 5px 20px;
  }

  .icon {
    font-size: 2.5rem;
  }

  .parent {
    width: 250px;
  }
}
