/* Skill.css */
.so1 {

  height: 30rem;
  display: grid;
  place-items: center;
  margin: 80px 0 180px 0;
}
.skillheading{
  font-size: 2.8rem;
  font-family: "Merienda", cursive;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
  /* filter:drop-shadow(5px 5px 5px rgba(0,0,0,0.6)); */

}
.so2 {
  width: 50%;
  font-size: 100px;
  /* justify-content: space-evenly; */
  /* background-color: red; */
  margin: 0 -45px 0 0;
  display: grid;
  place-items: center;
gap:10px 19px;
  grid-template-columns: 100px 100px 100px 100px 100px 100px   ;
}

.icon {
  font-size: 90px; /* adjust font size to your liking */
  margin: 10px; /* add some margin to space out the icons */
  animation: bubble 15s linear infinite;
  filter:drop-shadow(10px 10px 10px rgba(0,0,0,0.6));
}
.icon:hover{
  cursor:pointer;
}

@keyframes bubble {
  0%{
    transform:
  }
}
