/* Hide the default scrollbar */
::-webkit-scrollbar {
  width: 0;
  background-color: transparent;
}

body {
  margin: 50px;
  /* background-color: rgb(225, 229, 232); */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
